/*flex相关的布局*/
.flex_tab{
  display:flex;
}
.flex_tab .flex_tab_item{
  flex:1;
  padding:10px 0;
  text-align: center;
}
.r-border{
    border-right: 1px solid #fff;
}
.r-border-black{
    border-right: 1px solid #000;
}


.flex-box {
    display: flex;
    min-height: 100%; 
    flex-flow: row wrap;
}
.variable {
    width: 100%;
    height: 10000px; 
    background: green;
    align-self: flex-start;
}
.bottom {
    width: 100%;
    background: red;
    align-self: flex-end;
}